<div class="m-2">
  <div class="form-group row">
    <input type="text" class=" col-md-4 form-control mx-2" placeholder="Search" (input)="searchChange($event)"/>
    <button class="btn btn-primary mx-2" routerLink="/manage/add-podcast" >New Podcast</button>
  </div>
</div>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let podcast of podcasts">
      <td>{{podcast.name}}</td>
      <td>{{podcast.description}}</td>
      <td><button class="btn btn-primary">View Details</button></td>
      <td><button class="btn btn-danger" (click)="deletePodcast(podcast)">Remove</button></td>
    </tr>
  </tbody>
</table>