<div class="">
  <div class="row m-0">
    <!--<div class="col-md-4" id="sidebar">
      <h3 class="my-2">
        Actions
      </h3>
      <div class="card" routerLink="/manage/users">
        <div class="card-block py-2">
          <span class="card-text">Users</span>
        </div>
      </div>
      <div class="card my-2" routerLink="/manage/podcasts">
        <div class="card-block py-2">
          <span class="card-text">Podcasts</span>
        </div>
      </div>
      <div class="card my-2" routerLink="/manage/episodes">
        <div class="card-block py-2">
          <span class="card-text">Episodes</span>
        </div>
      </div>
    </div>-->

    <nav class="nav flex-column col-md-2" >
      <a class="nav-link" href="" routerLink="/manage/users" routerLinkActive="active">Users</a>
      <a class="nav-link" href="" routerLink="/manage/podcasts" routerLinkActive="active">Podcasts</a>
      <a class="nav-link" href="" routerLink="/manage/episodes" routerLinkActive="active">Episodes</a>
    </nav>

    <div class="col-md-10" id="main-content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


