<div class="">
  <div class="row m-0">

    <nav class="nav flex-column col-md-2" >
      <a class="nav-link" href="" routerLink="/manage/users" routerLinkActive="active">Users</a>
      <a class="nav-link" href="" routerLink="/manage/podcasts" routerLinkActive="active">Podcasts</a>
      <a class="nav-link" href="" routerLink="/manage/episodes" routerLinkActive="active">Episodes</a>
    </nav>

    <div class="col-md-10" id="main-content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


