<div class="row p-2">
  <div class="btn-group">
    <button class="btn btn-primary">Add User</button>
  </div>
</div>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Role</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}} {{user.lastname}}</td>
      <td>{{user.is_admin ? 'Admin' : 'Listener'}}</td>
      <td><button class="btn btn-danger" *ngIf="user.admin">Demote</button>
          <button class="btn btn-success" *ngIf="!user.admin">Promote</button></td>
    </tr>
  </tbody>
</table>
