<div class="p-4">
  <h1>{{ podcast_name }}</h1>
  <h2>Episodes</h2>
  <table class="table">
    <thead>
      <th>
          Title
      </th>
      <th>
          Description
      </th>
      <th>
          Date Published
      </th>
      <!--<th>
      </th>-->
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes">
        <td>
          {{episode.title}}
        </td>
        <td>
          {{episode.description}}
        </td>
        <td>
          {{episode.date_published}}
        </td>
        <!--<td>
          <button [hidden]="episode.is_liked && signed_in" class="btn btn-success" (click)="like(episode)">Like</button>
          <button [hidden]="!episode.is_liked" class="btn btn-warning" (click)="unlike(episode)">Unike</button>
        </td>-->
      </tr>
    </tbody>
  </table>
</div>
