<div class="p-4">
  <h1>{{ podcast_name }}</h1>
  <h2>Episodes</h2>
  <table class="table">
    <thead>
      <th>
          Title
      </th>
      <th>
          Description
      </th>
      <th>
          Date Published
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes" (click)="onEpisodeSelected(episode)">
        <td>
          {{episode.title}}
        </td>
        <td>
          {{episode.description}}
        </td>
        <td>
          {{episode.date_published}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
